body {
  @apply bg-brand-bg text-brand-text font-sans;
  @apply dark:bg-dark-bg dark:text-dark-text;

  background-image: radial-gradient(currentColor 1px, transparent 1px);
  background-size: 20px 20px;
}
